.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 30vh;
    width: 300px;
    background-color: rgba(255,255,245, .5);
    border-radius: 5px;
}
.card-container:hover{
    background-color: rgba(255,255,245, .8);
    /* opacity: 1; */
    cursor: pointer;
    transform: scale(1.1);
    border: 1px solid #3E606F;
    -webkit-box-shadow: 0px 5px 15px 5px #193441; 
box-shadow: 0px 5px 15px 5px #193441;
    
}
.card-top{
    display: flex;
    align-items: center;
    height: 30%;
    width: 100%;
    gap: 20px;
}
.card-top img{
    height: 70px;
}
.card-top div{
    width: 20%;
    
}
.card-top h1{
    width: 80%;
}
.card-middle{
    display: flex;
    text-overflow: clip;
    height: 20%;
    width: 100%;
    justify-content: center;

}
.card-bottom{
    display: flex;
    justify-content: center;
    height: 40%;
}