.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
input::placeholder{
    color: #193441;
    font-weight: 600;
    opacity: 0.7;
}
button{
    font-weight: 600;
    border-radius: 5px;
    border-width: 1.25px;
}
select{
    color: rgba(25,52,65,0.7);
    font-weight: 600;
}
button:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.42);
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.42);
}
.header-container{
    display: flex;
    flex-direction: column;
    top: 7vh;
    align-items: center;
    position: fixed;
    color: #193441;
    gap: 10px;
    
}
.dropdown-container{
    display: flex;
    gap: 5px;
    max-height: 20px;
}
.radio-buttons-container{
    display: flex;
    align-items: center;
    color: #193441;
    font-weight: 700;
    gap: 25px;
}
.button-go-container button {
    display: flex;
    justify-content: baseline;
    background-color: #91aa9d;

}
.h1-header{
    background-color: #D1DBBD;
}
.dropWeek{
    width: 175px;
    background-color: #fcfff5;
}
.dropSubject{
    width: 175px;
    background-color: #fcfff5;
}

.cards-container{
    display: flex;
    align-items: center;
    position: absolute;
    top: 35vh;
    left: 5vw;
    padding-right: 5vw;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5vw;
    
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 100vw;
    height: 40px;
    background-color: #D1DBBD;
    font-size: larger;
    margin-bottom: 15px;
    
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 10vh;
    color: #193441

    
}
.input-section-container{
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 170px;
    width: 90vw;
    background-color: #fcfff5;
    border-radius: 6px;
}

#dropInpWeek{
    width: 20%;
    background-color: #91aa9d;
}
#dropInpLanguage{
    width: 20%;
    background-color: #91aa9d;
}
.input-section-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    /* gap: 3%; */
    padding: 10px;
    margin: 0 auto;
    color: #193441;
    /* position: fixed; */
    
}
.input-section-top input{
    width: 50%;
    background-color: #91aa9d;
    color: black;
    border-style: none;
}

.input-section-middle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    color: #193441

}
.input-section-middle input{
    width: 100%;
    background-color: #D1DBBD;
    border-style: none;
    
}
.input-section-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap:1%;
    width: 90%;
    margin: 0 auto;
    color: #193441
}
.input-section-bottom input{
    width: 90%;
    background-color: #91aa9d;
    border-style: none;
}

.input-section-bottom button{
    width: 10%;
    color: #193441;
    background-color: #D1DBBD;
}

