.app-container{
    margin: 50px;
    display: flex;
    flex-direction: column; 
    gap: 30px;
    border-radius: 1%;
    justify-content:center;
    max-width: 90vw;
    background-color: #FEFAE0; 
    padding: 50px;
}

.navBar-container{
    position: relative;
}

.header-container{
    background-color: #FEFAE0;
    position: relative;
    height: 300px;
    display: flex;
    flex-direction:row !important;
}

.title-container{
    position: relative;
    left: 650px;
    display:flex;
    flex-direction: column;
    gap: 0px;
    margin:0px;
    padding: 0px;
}

.searchBar-container{
    position: absolute;
    right: 750px;
    bottom: 65px;
    justify-content: center;
    justify-items: center;
    width:40vw;
    display: flex;
    flex-direction:row;
    gap: 15px;
}

.searchByTopic-container{
    /* grid-column-start: 2;
    grid-column-end: 2; */
    justify-content: center;
    }

/* .subject-filter-container{
    grid-column-start: 4;
    grid-column-end: 4; 
    }

.subject-filter-container{
    grid-column-start: 5;
    grid-column-end: 5;
    } */

 .cards-container{
   
    padding: 50px;
    background-color: #FEFAE0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 60px;
    margin: auto;} 

/* 
input::placeholder{
    color: #193441;
    font-weight: 600;
    opacity: 0.9;
}
button{
    font-weight: 600;
    border-radius: 5px;
    border-width: 1.25px;
}
select{
    color: rgba(25,52,65,0.7);
    font-weight: 600;
}
button:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.42);
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.42);
}
.header-container{
    display: flex;
    flex-direction: column;
    top: 4vh;
    align-items: center;
    position: fixed;
    color: #193441;
    gap: 10px;
    
}
.header-container select{
    border-radius: 5px;
}
.dropdown-container{
    display: flex;
    gap: 5px;
    max-height: 20px;
}
.radio-buttons-container{
    display: flex;
    align-items: center;
    color: #193441;
    font-weight: 700;
    gap: 25px;
}
.button-go-container button {
    display: flex;
    justify-content: baseline;
    background-color: #91aa9d;

}
.h1-header{
    background-color: #D1DBBD;
}
.dropWeek{
    width: 175px;
    background-color: #fcfff5;
}
.dropSubject{
    width: 175px;
    background-color: #fcfff5;
} .cards-container{
    display: flex;
    align-items: center;
   
    position: absolute;
    top: 30vh;
    max-height: 100%;
   
    flex-direction: row;
    flex-wrap: nowrap;
    
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    gap: 50px;
    max-width: 97%;
   
    
}
.cards-container::-webkit-scrollbar{
    display: none;
}
.scroll-buttons{
    display: flex;
    position: absolute;
    bottom: 30vh;
    gap: 20px;
}
.scroll-buttons button{
    background-color: #fcfff5;
    font-weight: 900;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 100vw;
    height: 40px;
    background-color: #D1DBBD;
    font-size: larger;
    margin-bottom: 15px;
    
}  */
