.wrapper{
     white-space: pre-wrap!important}
    h1{
        font-family: 'Forum';
            font-size: 80px;
    color: #896A67;
    background-color: #FEFAE0;
    text-align: right;
    margin-right: 100px;
}