h1{
    font-family: 'Petrona-Black';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1DBBD;
    width: 100vw;
    height: 60px;
    text-align: center;
}